
*{
    margin:0px;
    border: 0px;
    box-sizing: border-box;
    
 }  
 body{
    background-image: url('img/bgccoffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
main{

    min-height: 130vh;   
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120vh;
}

.glass{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    background: linear-gradient(to right bottom, 
    rgba(253, 186, 86, 0.479),
    rgba(248, 134, 4, 0.2));
    width: 50%;
    height: 90vh;
    border-radius: 30px; 
    z-index: 2;  
    backdrop-filter: blur(0.5rem);
}
.glass:hover{
    background: linear-gradient(to right bottom, 
    rgba(253, 186, 86, 0.527),
    rgba(248, 134, 4, 0.288));
}
/* .circle1,.circle2{    
    background-color: white;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.685),
    rgba(255, 255, 255, 0.247));
    height: 10rem;
    width: 10rem;
    border-radius: 30%; 
    position: absolute;
    z-index: 2;
}
.circle1{
    top: -5%;
    right: -18%;
}
.circle2{
    bottom: -5%;
    left: -18%;
} */
legend{
    padding: 8px 10px;
    background-color: rgb(243, 191, 132);
    background:linear-gradient(to left top,
    rgb(128, 61, 7),
    rgb(145, 70, 9));
    color: rgb(250, 202, 82);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
.fname{
    padding: 8px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.lname{
    padding: 8px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.gender {
    padding: 8px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.email{
    padding: 8px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
input{
    background-color: rgb(253, 188, 66);
    color: rgb(17, 0, 0);
    margin: 0px;
    padding: 5px 6px;
    border-radius: 20px;
    border: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
input:hover{
    background-color: rgb(255, 180, 41);
    color: rgb(17, 0, 0);
    padding: 6px 8px;    
    font-family: 'Poppins', sans-serif;
}
textarea{
    background-color: rgb(253, 186, 61);
    color: rgb(17, 0, 0);
    border-radius: 10px;
    padding: 5px 6px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}
.decision{
    background: cornsilk;
    background:linear-gradient(to right bottom,
    rgba(207, 101, 14, 0.945),
    rgba(133, 64, 8, 0.644));
    padding: 8px 0px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}
.country {
    padding: 6px 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.age {
    padding: 6px 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.myfile{
    padding: 4px 8px;
    border-radius: 10px; 
    font-family: 'Poppins', sans-serif;
}
input [type="file"]{
    background-color: rgba(255, 179, 15, 0.993);
    font-family: 'Poppins', sans-serif;
}
input[type="reset"]{
    background-color:rgba(223, 143, 23, 0.993);
    border-radius: 20px;
    padding: 6px 8px;
    font-size: medium;
    border: 1px;
    font-family: 'Poppins', sans-serif;
}
input[type="reset"]:hover{
    background-color:  rgba(230, 161, 13, 0.993);
    color: rgb(2, 1, 0);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
}
input[type="submit"]{
    background-color: rgba(223, 143, 23, 0.993);
    color: rgb(2, 1, 0);
    border-radius: 20px;
    padding: 6px 8px;
    font-size: medium;
    border: 1px;
    font-family: 'Poppins', sans-serif;
}
input[type="submit"]:hover{
    background-color:  rgba(230, 161, 13, 0.993);
    color: rgb(2, 1, 0);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
}
nav.topnav{
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right bottom,
        rgba(214, 154, 42, 0.651),
        rgba(167, 112, 10, 0.356));
        backdrop-filter: blur(1rem);
    z-index: 4;
    overflow:visible;
    position: absolute;
    top: 0%;
}
.logo-title{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.logo-title:hover{
    color:rgba(255, 255, 255, 0.712);
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.logo:hover{
    opacity: 0.8;
}
.user-settings{
    text-decoration: none;
}
.user-settings a.active{
    background: linear-gradient(to right bottom,
        rgba(214, 154, 42, 0.815),
        rgba(167, 112, 10, 0.651));
        backdrop-filter: blur(2rem);
        border-radius: 20px;
        color: rgb(247, 247, 247);
}
.user-settings a.active:hover{
    background: linear-gradient(to right bottom,
        rgba(214, 154, 42, 0.932),
        rgba(167, 112, 10, 0.644));
        color: rgb(231, 164, 76);
    backdrop-filter: blur(1rem);
    border-radius: 20px;
    color: rgb(255, 242, 226);
    
}
.user-settings a{
    color: rgb(201, 128, 32);
    text-decoration: none;
    width: 20%;
    padding: 10px 12px;
}
.user-settings a:hover{
    color: rgb(255, 255, 255);
    
}
.dropdown{
    display: inline-block;
    position: relative;
    color: rgb(231, 164, 76);
    
}
.dropdown:hover{
    color: white;
}
.shopping-options{
    display: none;
    box-shadow:2px, rgba(235, 156, 54, 0.884);
    background: linear-gradient(to right bottom,
        rgba(229, 195, 132, 0.651),
        rgba(245, 228, 197, 0.781));
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    padding: 14px 12px;
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10rem);
    
}
.shopping-options:hover{
    display: none;
    box-shadow:2px, rgba(235, 156, 54, 0.884);
    background: linear-gradient(to right bottom,
    rgba(245, 208, 141, 0.911),
    rgba(245, 228, 197, 0.664));
    min-width: 120px;
    backdrop-filter: blur(10rem);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    position: absolute;
    border-radius: 10px;
}
.shopping-options a{
     backdrop-filter:blur(2rem)
}
.dropdown:hover .shopping-options{
    display: block;  
}
*{
    text-decoration: none;
}
.burger div{
    width: 20px; 
    height: 2px;
    margin: 4px;
    color: rgb(231, 164, 76);
}
.burger{
    display: none;
}
.nav-links{
    width: 30%;
    color: rgb(233, 154, 50);
    justify-content: space-around;
}
.nav-links a{
    width: 30%;
    padding: 0px 14px;
    color: rgb(231, 164, 76);

}
.nav-links a:hover{
    color: rgb(252, 252, 252);
}
.shopping-options a{
    color: rgb(102, 46, 7);
}
.main-nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 85%;

}

::placeholder{
    color:  rgb(78, 44, 0);
    opacity: 0.5;
}

ul{
    list-style: none;
}
nav.bottomnav{
    background: linear-gradient(to right bottom,
        rgba(54, 36, 2, 0.795),
        rgba(46, 33, 9, 0.623));
        backdrop-filter: blur(100rem);
        z-index: 4;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        width: 200%;
        height: 20vh;
        position: absolute;
        bottom: -25%;
}
.bottomnav a > img:hover{
        opacity: 0.5;
}
